.preview-list.theme {
  background: #F9F8F8;
  font-family: sans-serif;
  color: #272838;
  padding: 20px 20px;
  max-width: none !important;
}

.preview-list.theme a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #272838;
  transition: all ease-in-out 150ms;
}

.preview-list.theme a:hover {
  opacity: 0.8;
}

.preview-list.theme h1 {
  margin: 0 !important;
  font-size: 15px !important;
}

.preview-list.theme img {
  width: 400px !important;
  top: 25% !important;
} 
